<nav>
    <div class="nav-wrapper" style="background: black; color: white; box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);">
        <a href="#" class="right" style="padding-right:5px">Accounts</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="sass.html">Home</a></li>
            <li><a href="badges.html">Contact</a></li>
        </ul>
    </div>
</nav>
